[Unit]
Description=run home-management-api

[Service]
Type=simple
ExecStart=/usr/local/bin/home-management-api/openapi-client
Restart=always
EnvironmentFile=/etc/sysconfig/home-management-api_env

[Install]
WantedBy=multi-user.target